
<html >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="/templates/v.css">
<style>
    h1{
color:red;
font-size:50px;
}
img{
float:left;
right:40%;

width:100%;
}
nav{
margin:0;
float:left;
background-color:green;
width:100%;
}
nav a{
padding:55px;
color:white;
font-size:15px;
}
p{
font-size:30px;
color:blue;
}
</style>
<center>
    <h1> welcome to students management system </h1>
</center>


<div>
    <nav>
        <a href="">HOME</a>
        <a href="">ADMIN</a>
        <a href="/api/students/student">STUDENT</a>
        <a href="/api/students/result">RESULT</a>
        <a href="">ATTEDANCE</a>
        <a href="">ABOUT US</a>
        <a href="">CONTACT US</a>
        <a href="">LOGOUT</a>
    </nav>

</div>
<div>
    <img src="/resources/static/a.jpg">
</div>
<center>
    <footer>
        <p>
            this application was developed naga vardhan oggu</p>
    </footer>
</center>
</body>
