h1{
color:red;
font-size:50px;
}
img{
float:left;
right:40%;

width:100%;
}
nav{
margin:0;
float:left;
background-color:green;
width:100%;
}
nav a{
padding:55px;
color:white;
font-size:15px;
}
p{
font-size:30px;
color:blue;
}